appdirs==1.4.0
blessed==1.14.1
botocore==1.5.14
cement==2.8.2
certifi==2017.1.23
colorama==0.3.7
convertdate==2.1.0
dateparser==0.6.0
decorator==4.0.11
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
ephem==3.7.6.0
functional==0.4
future==0.16.0
ipython==5.2.2
ipython-genutils==0.1.0
jdatetime==1.8.2
jmespath==0.9.1
marshmallow==2.12.2
oauthlib==2.0.1
packaging==16.8
pathspec==0.5.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
pyperclip==1.5.27
pysistence==0.4.1
python-dateutil==2.6.0
git+git://github.com/python-telegram-bot/python-telegram-bot@44d7bad
pytz==2016.10
PyYAML==3.12
regex==2017.2.8
requests==2.9.1
requests-oauthlib==0.8.0
ruamel.yaml==0.13.14
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.10.0
tabulate==0.7.5
tinydb==3.2.2
traitlets==4.3.1
typing==3.5.3.0
tzlocal==1.3
umalqurra==0.2
urllib3==1.24.2
wcwidth==0.1.7
websocket-client==0.40.0
